{% layout 'layout.liquid' %}
{% block content %}
    <div>
        <article>
            <h2>
                {{ fruit.name }} - 
                {% if fruit.readyToEat %}
                    Ready to Eat
                {% else %}
                    Not Ready to Eat
                {%endif%}
            </h2>
            <h3>{{ fruit.color }}</h3>
        </article>
    </div>
{% endblock %}